.theme-panel {
  position: fixed;
  right: 0;
  top: 25%;
  z-index: 100;
  transition: 0.4s;
  transform: translateX(100%);
  z-index: 200;
}

.theme-panel.open {
  transform: translateX(0);
}

.theme-body {
  background-color: #495fef;
  border: 0;
  max-width: 185px;
  padding: 15px 13px;
  text-align: center;
  border-bottom-left-radius: 25px;
  position: relative;
}

.theme-body > span {
  color: white;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: -0.09px;
  line-height: 26px;
  display: inline-flex;
}

.theme-body .btn-group {
  box-shadow: 0 12px 34px rgba(22, 28, 45, 0.2);
  border-radius: 33px;
  background-color: white;
  overflow: hidden;
  display: flex;
  justify-content: center;
  max-width: 153px;
}

.theme-body .btn-group .switcher-btn {
  background: transparent;
  border: none;
  width: 50%;
  font-size: 11px;
  font-weight: 700;
  height: 40px;
  padding-left: 15px;
  padding-right: 15px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.theme-body .btn-group .switcher-btn.active {
  background-color: #ced4e7;
}

.theme-body .theme-tab {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  left: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 50px;
  border: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #495fef;
  color: #fff;
}

.theme-body .theme-tab i {
  font-size: 1rem;
  transition: 0.4s;
  pointer-events: none;
}

.theme-panel.open .theme-tab i {
  transform: scaleX(-1);
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5rem 1rem;
  width: 100%;
}

.navbar .brand-logo a h2 {
  letter-spacing: -0.5px;
  line-height: 1.42;
}

.navbar .navbar-items {
  margin-left: auto;
}

.navbar-items .main-menu {
  display: flex;
}

.main-menu li {
  padding: 18px;
  font-size: 15px;
  line-height: 26px;
  cursor: pointer;
  text-transform: lowercase;
}

.hero-content {
  text-align: center;
}

.hero-content .code-icon {
  background-color: #da5252;
  padding: 1rem 1.1rem;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;
}

.code-icon i {
  font-size: 1.5rem;
  display: inline-block;
  line-height: 1.5;
}

.portfolio-section .search-container label {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.portfolio-section .search-input {
  padding: 0.75rem 1.5rem;
  background-color: #f1f3f6;
  border: 1px solid #f1f3f6;
  border-radius: 50rem;
}

.portfolio-section .search-input:focus {
  outline: none;
  border-color: #4dabf7;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
}

.portfolio-section .search-container label i {
  position: absolute;
  right: 10px;
  pointer-events: none;
}

.portfolio-filter-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}

.portfolio-filter-nav .filter-link {
  padding: 0 1rem;
  font-size: 0.8125rem;
  line-height: 1.6;
  letter-spacing: 1.63px;
  font-weight: 700;
}

.portfolio-filter-nav .filter-link.active {
  color: #495fef;
}

.portfolio-filter-nav .filter-link:hover {
  cursor: pointer;
}

.portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  justify-content: center;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.portfolio-card {
  position: relative;
  margin: 0 1rem 1.85rem;
  width: 255px;
}

.portfolio-card img {
  width: 100%;
  height: 255px;
  object-fit: cover;
  border-radius: 8px;
}

.portfolio-card .card-popup-box {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  transition: 0.4s;
  z-index: 1;
  padding: 1.25rem 1.875rem;
  opacity: 0;
}

.portfolio-card .card-popup-box:before {
  content: "";
  position: absolute;
  background: var(--bg);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.9;
  border-radius: 8px;
}

.portfolio-card:hover .card-popup-box {
  bottom: 20px;
  opacity: 1;
}

.portfolio-card .card-popup-box .title {
  color: var(--color-text-base);
  font-size: 0.8125rem;
  line-height: 1.63;
  letter-spacing: 1.63px;
  padding-bottom: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  pointer-events: none;
}

.portfolio-card .card-popup-box .header {
  pointer-events: none;
  color: var(--color-headings);
  font-size: 1.3125rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 0;
}

.full-site-modal,
.modal {
  --visibility: hidden;
  --opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  transition: all 0.35s ease-in;
  visibility: var(--visibility);
  opacity: var(--opacity);
}

.full-site-modal {
  --scale: 0.2;
  transform: scale(var(--scale));
}

.modal-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  width: 100%;
}

.modal-header .fa-times {
  --scale: 1;
  font-size: 1.5rem;
  transition: all 0.3s ease-in;
  transform: scale(var(--scale));
}

.modal-header .fa-times:hover {
  --scale: 1.5;
  cursor: pointer;
}

.full-site-modal.is-visible,
.modal.is-visible {
  --visibility: visible;
  --opacity: 1;
}

.modal-body {
  display: flex;
  align-items: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  cursor: pointer;
}

.modal-dialogue {
  max-width: 800px;
  max-height: 80vh;
  background-color: var(--bg-panel);
  color: var(--color-text-base);
  overflow: hidden;
  padding: 1.25rem 1.85rem;
  border-radius: 5px;
  cursor: default;
}

.modal-header {
  display: flex;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.modal-header .fa-times {
  font-size: 1.5rem;
  transition: all 0.5s ease-in;
}

.img-wrapper {
  max-width: 200px;
  margin-right: 0.75rem;
}

.img-wrapper img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.modal-dialogue .modal-header h3 {
  color: var(--color-text-base);
}

[data-animation="zoomInOut"].full-site-modal {
  --scale: 0.2;
}

[data-animation="slideInOutTop"] .modal-dialogue {
  opacity: 0;
  transition: all 0.5s;
  transform: translateY(-100%);
}

[data-animation="slideInOutTop"].modal.is-visible .modal-dialogue {
  opacity: 1;
  transition-delay: 0.2s;
}

[data-animation="zoomInOut"].full-site-modal.is-visible,
.modal.is-visible,
[data-animation="slideInOutTop"].is-visible .modal-dialogue {
  transform: none;
}
